tornado==4.5.3
serial

numpy==1.12.1
xlwt==1.2.0
pyserial==3.4
scikit_learn==0.19.1

cycler==0.10.0
matplotlib==1.5.3

PyAudio==0.2.9
pycurl==7.43.0
pyparsing==2.1.9
python-dateutil==2.5.3
pytz==2016.7
scipy==0.18.1
six==1.10.0
Wave==0.0.2
redis==2.10.6
argparse==1.4.0
pycurl==7.43.0.2
butterfly==3.2.3
